<%= link_to 'full list', cocktails_path %>

<h1><%= @cocktail.name %></h1>

<% if @cocktail.photos? %>
  <% @cocktail.photos.each do |photo| %>
    <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <% end %>
<% end %>

<ul class="list-unstyled">
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description%> - <%= dose.ingredient.name %></li>
<% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: '6cl of mint sirup' %>
  <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Choose your ingrdient !" %>
  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
